{% include "layout.html" %}
<div class="clearfix"></div>
<div id="content">
   <div class="container">
      <div class="row justify-content-md-center">
         <div class="col col-lg-12 col-xl-10">
            <div class="row has-sidebar">
               
      <h1 class="page-header">Submit your property</h1>
      <div class="form-container">
         <form action="/owner/owner_add_property" method="POST">
                {% csrf_token %}
            <input id='step2' type='checkbox'>
            <input id='step3' type='checkbox'>
            <div id="part1" class="form-group">
               <div class="panel panel-primary">
                  <div class="panel-heading">
                     <h3 class="panel-title">Part 1</h3>
                  </div>
                  <div class="row">
                     <div class="col-lg-6">
                        <div class="form-group">
                           <label for="property_type">Property Type</label>
                           <select name="property_type" id="property_type" class="form-control form-control-lg ui-select">
                              <option value="Single room">Single room</option>
                              <option value="1 BHK">1 BHK</option>
                              <option value="2 BHK">2 BHK</option>
                              <option value="3 BHk">3 BHk</option>
                              <option value="Boys PG">Boys PG</option>
                              <option value="Girls PG">Girls PG</option>
                              <option value="Other">Other</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="form-group">
                           <label for="property_status">Property Status</label>
                           <select name="property_status" id="property_status" class="form-control form-control-lg ui-select">
                              <option value="Furnished">Furnished</option>
                              <option value="Unfurnished">Unfurnished</option>
                              <option value="Semi Furnished">Semi Furnished</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-6">
                        <div class="form-group">
                           <h3 class="subheadline">Additional Features</h3>
                           <div class="btn-group btn-group" data-toggle="buttons">
                              <input type="checkbox" name='parking' checked>
                              <span> Parking
                              </label>
                              <input type="checkbox" name='Elecricty'>
                              <span> Elecricty Backup</span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="form-group">
                           <h3 class="subheadline">Priority preference</h3>
                           <div class="btn-group btn-group" data-toggle="buttons">
                              <input type="checkbox" name='checks[]' value="1" >
                              <span> Family</span>
                              </label>
                              <input type="checkbox"  name='checks[]' value="2"  >
                              <span> Bachelor</span>
                              </label>
                              <input type="checkbox" name='checks[]' value="3" checked>
                              <span> Girls</span>
                              </label>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label>Price</label>
                     <input type="text" name="price" class="form-control form-control-lg" placeholder="Price ">
                  </div>
                  <div class="btn-group btn-group-lg" role="group" aria-label="...">
                     <label for='step2' id="continue-step2" class="continue">
                        <div class="btn btn-default btn-success btn-lg">Continue</div>
                     </label>
                  </div>
               </div>
            </div>
            <div id="part2" class="form-group">
               <div class="panel panel-primary">
                  <div class="panel-heading">
                     <h3 class="panel-title">Part 2</h3>
                  </div>
                  <div class="row">
                     <div class="col-lg-6">
                        <div class="form-group">
                           <label>Location</label>
                           <input type="text" name="loaction" class="form-control form-control-lg" id="autocomplete" placeholder="Enter your location">
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="form-group">
                           <label>Address/street/House No./landmark</label>
                           <input type="text" name="address" class="form-control form-control-lg" placeholder="">
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-6">
                        <div class="form-group">
                           <label>City</label>
                           <input type="text" name="city" class="form-control form-control-lg" placeholder="" id="locality">
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="form-group">
                           <label>State</label>
                           <input type="text" name="state" class="form-control form-control-lg" placeholder="" id="administrative_area_level_1">
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-6">
                        <div class="form-group">
                           <label>Country</label>
                           <input type="text" name="country" class="form-control form-control-lg" placeholder="" id="country">
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="form-group">
                           <label>Zipcode</label>
                           <input type="text" name="zip_code" class="form-control form-control-lg" placeholder="" id="postal_code">
                        </div>
                     </div>
                  </div>
                  <div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="...">
                     <label for='step2' id="back-step2" class="back">
                        <div class="btn btn-default btn-primary btn-lg" role="button">Back</div>
                     </label>
                     <label for='step3' id="continue-step3" class="continue">
                        <div class="btn btn-default btn-success btn-lg" role="button">Continue</div>
                     </label>
                  </div>
               </div>
            </div>
            <div id="part3" class="form-group">
               <div class="panel panel-primary">
                  <div class="panel-heading">
                     <h3 class="panel-title">Part 3</h3>
                  </div>
                  <div class="form-group">
                     <h3 class="subheadline">Upload Photos</h3>
                     <div class="ui-dropzone">
                        <div class="icon"></div>
                        <div>Drag and drop images or click to upload</div>
                        <input type="file" class="form-control form-control-lg" id="gallery" multiple>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="checkbox">
                        <input type="checkbox" id="featured">
                        <label for="featured">Yes ‚ feature this listing. </label>
                     </div>
                  </div>
                  <hr>
                  <div class="form-group">
                     <button type="submit" class="btn btn-lg btn-primary">Submit Property</button>
                  </div>
                  <div class="btn-group btn-group-lg" role="group" aria-label="...">
                     <label for='step3' id="back-step3" class="back">
                        <div class="btn btn-default btn-primary btn-lg">Back</div>
                     </label>
                     <label class="continue">
                     <button type="submit" class="btn btn-default btn-success btn-lg">Submit</button>
                     </label>
                  </div>
               </div>
            </div>
         </form>
      </div>


            </div>
         </div>
      </div>
   </div>
</div>
<script>
   var placeSearch, autocomplete;
   var componentForm = {
     //street_number: 'short_name',
     //route: 'long_name',
     locality: 'long_name',
     administrative_area_level_1: 'long_name',
     country: 'long_name',
     postal_code: 'long_name'
   };
   
   function initAutocomplete() {
     autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode']});
     autocomplete.addListener('place_changed', fillInAddress);
   }
   
   function fillInAddress() {
     var place = autocomplete.getPlace();
     for (var component in componentForm) {
       document.getElementById(component).value = '';
       document.getElementById(component).disabled = false;
     }
     
     for (var i = 0; i < place.address_components.length; i++) {
       var addressType = place.address_components[i].types[0];
       if (componentForm[addressType]) {
         var val = place.address_components[i][componentForm[addressType]];
         document.getElementById(addressType).value = val;
       }
     }
   }
   
                       
</script>
{% include "layout_footer.html" %}